[Unit]
Description=Pomotui Timer Service socket

[Socket]
ListenStream=%t/pomotui/pomotui.sock
SocketMode=0600
DirectoryMode=0700

[Install]
WantedBy=sockets.target
